# Core dependencies for the Flask application
Flask==2.3.3
gunicorn==22.0.0

# Machine Learning and NLP dependencies
transformers==4.46.3
mlflow==2.18.0
joblib==1.4.2
nltk==3.7

# PyTorch CPU version only
torch==2.5.1+cpu -f https://download.pytorch.org/whl/cpu
